In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.DataFrame(np.random.randn(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Column4"])

In [5]:
df.head()

       Column1   Column2   Column3   Column4
Row1  1.457884 -0.890552  0.306429  2.784320
Row2  0.047901  0.058187 -1.772124  0.960880
Row3 -0.510652  0.009004  0.480650 -0.536338
Row4 -0.080691  0.619648  1.751468 -0.082484
Row5  0.058321  1.801195 -0.468947  0.220820

In [6]:
df['Column4']

Row1    2.784320
Row2    0.960880
Row3   -0.536338
Row4   -0.082484
Row5    0.220820
Name: Column4, dtype: float64

In [8]:
df[['Column3','Column1']]

       Column3   Column1
Row1  0.306429  1.457884
Row2 -1.772124  0.047901
Row3  0.480650 -0.510652
Row4  1.751468 -0.080691
Row5 -0.468947  0.058321

In [9]:
df.loc['Row4']

Column1   -0.080691
Column2    0.619648
Column3    1.751468
Column4   -0.082484
Name: Row4, dtype: float64

In [11]:
df.iloc[:,1:3]

       Column2   Column3
Row1 -0.890552  0.306429
Row2  0.058187 -1.772124
Row3  0.009004  0.480650
Row4  0.619648  1.751468
Row5  1.801195 -0.468947

In [13]:
df.iloc[:,1:3].values

array([[-0.89055153,  0.30642879],
       [ 0.05818713, -1.77212429],
       [ 0.00900443,  0.48064986],
       [ 0.61964815,  1.75146796],
       [ 1.8011949 , -0.46894711]])

In [14]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [15]:
df['Column1'].unique()

array([ 1.45788404,  0.04790061, -0.51065191, -0.0806906 ,  0.05832081])

In [16]:
df.describe()

        Column1   Column2   Column3   Column4
count  5.000000  5.000000  5.000000  5.000000
mean   0.194553  0.319497  0.059495  0.669440
std    0.743160  0.989245  1.297613  1.301750
min   -0.510652 -0.890552 -1.772124 -0.536338
25%   -0.080691  0.009004 -0.468947 -0.082484
50%    0.047901  0.058187  0.306429  0.220820
75%    0.058321  0.619648  0.480650  0.960880
max    1.457884  1.801195  1.751468  2.784320

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Row1 to Row5
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  5 non-null      float64
 1   Column2  5 non-null      float64
 2   Column3  5 non-null      float64
 3   Column4  5 non-null      float64
dtypes: float64(4)
memory usage: 372.0+ bytes

In [18]:
df[df['Column4']>0]

       Column1   Column2   Column3  Column4
Row1  1.457884 -0.890552  0.306429  2.78432
Row2  0.047901  0.058187 -1.772124  0.96088
Row5  0.058321  1.801195 -0.468947  0.22082

In [19]:
df.corr()

          Column1   Column2   Column3   Column4
Column1  1.000000 -0.529090 -0.028554  0.968427
Column2 -0.529090  1.000000 -0.044033 -0.611782
Column3 -0.028554 -0.044033  1.000000 -0.230077
Column4  0.968427 -0.611782 -0.230077  1.000000